/* Existing styles */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }
  
  html {
    padding: 0;
    margin: 0;
  }
  
  body {
    padding: 30px 0;
    margin: 0;
    display: block;
    place-items: unset;
    position: relative;
    min-width: 100%;
    width: 100%;
    height: 100vh;
    color: black;
    background: url(../images/bg.jpg) 0 0 no-repeat;
    background-size: cover;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5); /* Adjust the alpha (0.5) for opacity */
      pointer-events: none; /* Allow interaction with content beneath */
    }
  }
  
  .quiz-bg {
    position: relative;
    width: 100%;
  }
  
  .landing-page {
    margin: 0px auto 0;
    text-align: center;
    max-width: 700px;
    width: 100%;
    z-index: 2;
    position: relative;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    padding: 40px;
  }

  .landing-rules {
    text-align: left;

    ul {
      margin: 0 0 0 15px;
      padding: 0;
    }
  }

  .quiz-wrapper {
    text-align: left;
    width: 100%;
    z-index: 2;
    position: relative;
  }

  .image-quiz {
    width: 100%;
    height: 45vh;
    object-fit: contain;
  }
  
  .results-wrapper {
    text-align: center;
  }
  h1 {
    font-size: 2em;
    line-height: 1.1;

  }

  .countdown-circle {
    transition: stroke-dashoffset 1s ease; /* Adds smooth transition */
  }
  svg {
    transform: rotate(-90deg); /* Rotate the circle to start from the top */
    transition: transform 1s ease; /* Smooth rotation if necessary */
  }

  .timer-left {
    font-size: 1em;
    line-height: 1.1;
    position: absolute;
    top: -20px;
    right:-5px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    text-align: center;
  }
  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #eee;
    cursor: pointer;
    transition: border-color 0.25s;
    color: black;

    &:disabled {
      background-color: #ddd;
      color: #B7AEB8;
      &:hover {
        background-color: #ddd;
      }
    }
  }
  button:hover {
    border-color: #dedede;
    background-color: #ddd;
  }
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
    background-color: #9FD4A3;
  }

  .nextButton {
    margin: 20px auto 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    max-width: 380px;
    text-align: center;
    display: block;

    &.answered {
      background-color: #9FD4A3;
      &:hover {
        border-color: #CDEBC5;
        background-color: #CDEBC5;
      }
    }

    &.unanswered {
      background-color: #F5E8C9;
      &:hover {
        border-color: #F9CF95;
        background-color: #F5E8C9;
      }
    }
  }
  

  .options-list {
    text-align: center;
  }
  
  svg {
    transform: rotate(-90deg);
  }
  



  /* Light color scheme */
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #f9f9f9;
    }
  }
  
  /* Media query for mobile screens */
  @media (max-width: 768px) {

    button {
      border-radius: 8px;
      border: 1px solid transparent;
      padding: 0.2em 0.5em;
      font-size: 0.9em;
      font-weight: 600;
    }

    h1 {
      font-size: 2em; /* Smaller font size for mobile */
    }

    .landing-page,
    .quiz-wrapper {
        max-width: 350px;
      }

      .landing-page {
          width: 75%;
        }
        
    .timer-left {
        font-size: 1.4em;
        line-height: 1.1;
        top: -40px;
        right: -45px;
      }

      .image-quiz {
        object-fit: cover;
      }
  }
  